$gap-width: 10px;

div.category-board{
  width: 190px;
  border: 1px solid #ff5000;
  border-top: none;
  background-color: #FFFFFF;
  ul{
    li{
      height: 32px;
      line-height: 32px;
      padding: 0 20px 0 20px;
      i.fa.fa-angle-right{
        color: #666;
        float: right;
        height: 32px;
        line-height: 32px;
      }
    }
  }
}

#carousel-promotions, #carousel-tmall{
  width: 520px;
  height: 280px;
  margin: $gap-width;
  ngu-item{
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}


div#ad-1, div#ad-2{
  margin: $gap-width;
  margin-left: 0;
  img{
    width: 160px;
    //height: 280px;
  }
}
