<div class="container">
  <div class="columns is-gapless">
    <div class="column is-narrow">
      <div class="category-board">
        <ul>
          <li *ngFor="let categoryCollection of categoryCollections">
            <ng-container *ngFor="let category of categoryCollection; index as index">
              <span *ngIf="index>0">/</span>
              <a>{{category}}</a>
            </ng-container>
            <i class="fa fa-angle-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="column is-narrow">
      <div class="columns is-gapless" style="margin: 0;">
        <div class="column is-narrow">
          <ngu-carousel id="carousel-promotions" [inputs]="carouselOne">
            <ngu-item NguCarouselItem style="background: #222">
              <img src="assets/img/promotion-1.jpg">
            </ngu-item>
            <ngu-item NguCarouselItem style="background: #222">
              <img src="assets/img/promotion-2.png">
            </ngu-item>
            <ngu-item NguCarouselItem style="background: #222">
              <img src="assets/img/promotion-3.jpg">
            </ngu-item>
            <ngu-item NguCarouselItem style="background: #222">
              <img src="assets/img/promotion-4.jpg">
            </ngu-item>
            <ngu-item NguCarouselItem style="background: #222">
              <img src="assets/img/promotion-5.jpg">
            </ngu-item>
            <button NguCarouselPrev class="rs left-rs button is-light">
              <i class="fa fa-angle-left"></i>
            </button>
            <button NguCarouselNext class="rs right-rs button is-light">
              <i class="fa fa-angle-right"></i>
            </button>
          </ngu-carousel>
        </div>
        <div class="column is-narrow" id="ad-1">
          <img src="assets/img/ad-1.jpg">
        </div>
      </div>
      <div class="columns is-gapless" style="margin: 0;">
        <div class="column is-narrow">
          2
        </div>
        <div class="column is-narrow">
          123
        </div>
      </div>
    </div>
  </div>
</div>
