@import "../../variables";
$gap-width: 10px;

div.category-board{
  width: 190px;
  border: 1px solid #ff5000;
  border-top: none;
  background-color: #FFFFFF;
  ul{
    padding: 5px 0;
    li{
      height: 32px;
      line-height: 32px;
      padding: 0 20px 0 20px;
      i.fa.fa-angle-right{
        color: #666;
        float: right;
        height: 32px;
        line-height: 32px;
      }
    }
  }
}

#carousel-promotions, #carousel-tmall{
  width: 520px;
  margin: $gap-width;
  ngu-item{
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

#carousel-promotions{
  height: 280px;
}


div#ad-1, div#ad-2{
  margin: $gap-width;
  margin-left: 0;
  img{
    width: 160px;
    //height: 280px;
  }
}


#carousel-tmall{
  margin-top: 0;
  div.head{
    border-bottom: solid 3px #ff1648;
    position: relative;
    padding-left: 115px;
    img{
      height: 19px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  div.img-box{
    background: #fff;
    text-align: center;
    height: 197px;
    img{
      display: inline-block;
      height: 155px;
      margin: 21px 1px;
    }
  }
}

#tbtt{
  height: 109px;
  padding: 14px 14px 12px 20px;
  background-color: #FFFFFF;
  margin-right: 10px;
  display: flex;
  div.left{
    flex: none;
    width: 180px;
    padding-top: 18px;
    img{
      height: 26px;
    }
  }
  div.right{
    flex: auto;
    img{
      height: 100%;
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
    }
    p{
      display: inline-block;
      width: 470px;
      vertical-align: middle;
    }
  }
}

