$gap-width: 10px;

div.category-board{
  width: 190px;
  border: 1px solid #ff5000;
  border-top: none;
  background-color: #FFFFFF;
  ul{
    li{
      height: 32px;
      line-height: 32px;
      padding: 0 20px 0 20px;
      i.fa.fa-angle-right{
        color: #666;
        float: right;
        height: 32px;
        line-height: 32px;
      }
    }
  }
}

#carousel-promotions, #carousel-tmall{
  width: 520px;
  margin: $gap-width;
  ngu-item{
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

#carousel-promotions{
  height: 280px;
}


div#ad-1, div#ad-2{
  margin: $gap-width;
  margin-left: 0;
  img{
    width: 160px;
    //height: 280px;
  }
}


#user-panel{
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
  margin-top: 10px;
  background-image: url(../../assets/img/user-panel-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 10px;
  img.user-avatar{
    width: 50px;
    border-radius: 25px;
    display: block;
    margin: 0 auto 5px;
  }
  .icon{
    background: url(../../assets/img/user-panel-icons.png) 0 0 no-repeat;
    background-size: 24px 597px;
  }
  a.tjb{
    position: relative;
    .icon{
      position: absolute;
      left: 0;
      top: 0;
      vertical-align: middle;
    }
    display: inline-block;
    height: 17px;
    border-radius: 9px;
    font-size: 12px;
    line-height: 17px;
    vertical-align: middle;
    background-color: #ffe4db;
    padding: 0 10px 0 20px;
  }
  #login-buttons{
    text-align: center;
    margin-top: 10px;
    button{
      width: 80px;
      margin-right: 5px;
    }
  }
}

