@import "../styles";

$container-side-offset: 100px;

div.header{
  //width: 100%;
  position: relative;
  margin: 0 $container-side-offset;
  a.logo{
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    img{
      width: 142px;
      height: 58px;
    }
  }
  div.search{
    width: 600px;
    margin: auto;
    padding: 20px 0;
    div.tab-set{
      position: relative;
      top: 0;
      left: 20px;
      a.tab{
        color: $text-active-color;
        display: inline-block;
        margin: 0;
        padding: 4px 6px;
      }
      a.tab:hover{
        background-color: #FFEEE5;
      }
      a.tab.active{
        background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
        color: #FFFFFF;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
    }
    div.search-box-wrapper{
      height: 40px;
      display: flex;
      div.search-box{
        flex: auto;
        height: 100%;
        border: 2px solid #ff5000;
        border-right: none;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        box-sizing: border-box;
        overflow: hidden;
        input{
          height: 100%;
          width: 100%;
          padding: 0 10px;
        }
      }
      button.search-button{
        flex: none;
        font-size: 18px;
        font-weight: 700;
        color: #FFF;
        background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
        cursor: pointer;
        height: 100%;
        border: none;
        width: 70px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
      }
    }
    div.suggestions{
      a{
        //line-height: 18px;
        font-weight: 400;
      }
    }
  }
  div.qrcode{
    position: absolute;
    right: 100px;
    top: 0;
    div.qrcode-box{
      border: 1px solid #eee;
      padding: 7px;
      span{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 4px;
      }
      img{
        display: block;
        width: 62px;
        height: 62px;
      }
    }

  }
}
