section{
  padding: 20px 0;
}

#section-header{
  padding: 2px;
}

#section-main-search{
  background: #fff;
}

#section-sites-bar{
  background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
  padding: 0;
}

#section-content{
  padding: 0;
}
