<div id="user-panel">

  <img class="user-avatar" src="assets/img/avatar.png">
  <p class="has-text-centered text-small">Hi！你好</p>
  <p style="text-align: center">
    <a class="tjb text-highlight">
      <span class="icon" style="background-position: 0 -572.5px;height: 16px;width: 16px;"></span>
      领淘金币抵钱
    </a>
    <a class="tjb text-highlight">
      <span class="icon" style="background-position: 0 -572.5px;height: 16px;width: 16px;"></span>
      会员俱乐部
    </a>
  </p>
  <div id="login-buttons">
    <button class="button button-tb">登录</button>
    <button class="button button-tb">注册</button>
    <button class="button button-tb">开店</button>
  </div>

  <a class="text-highlight has-text-centered text-small" style="background: #ffe4dd;display: block;padding: 3px;margin: 10px 0;">
    网上有害信息举报专区 <i class="fa fa-caret-right"></i>
  </a>

  <div id="billboard" class="text-small">
    <div class="categories">
      <div class="category active">
        <span>公告</span>
      </div>
      <div class="category">
        <span>规则</span>
      </div>
      <div class="category">
        <span>论坛</span>
      </div>
      <div class="category">
        <span>安全</span>
      </div>
      <div class="category">
        <span>公益</span>
      </div>
    </div>
    <div>
      <a class="billboard-item">约旦首笔中企捐助来自马云 用于妇女儿童教育</a>
      <br>
      <a class="billboard-item">阿里发布“公益财报”</a>
      <a class="billboard-item">最强量子模拟器在阿里</a>
    </div>
  </div>

  <div class="columns is-gapless is-multiline text-small" id="toolbox">
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 0;"></span>
      <p>充话费</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -87px;"></span>
      <p>旅行</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -44px;"></span>
      <p>车险</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -132px;"></span>
      <p>游戏</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -176px;"></span>
      <p>彩票</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -220px;"></span>
      <p>电影</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -264px;"></span>
      <p>酒店</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -308px;"></span>
      <p>理财</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -352px;"></span>
      <p>找服务</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -396px;"></span>
      <p>演出</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -440px;"></span>
      <p>水电煤</p>
    </a>
    <a class="column is-one-quarter">
      <span class="icon" style="background-position: 0 -484px;"></span>
      <p>火车票</p>
    </a>
  </div>

  <div id="ali-app">
    <h3 class="text-large">阿里APP</h3>
    <div class="columns is-gapless is-multiline">
      <a class="column is-one-fifth">
        <img src="assets/img/app/taobao.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/tmall.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/juhuasuan.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/zhifubao.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/wangwang.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/dingding.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/taopiaopiao.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/feizhu.png">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/xianyu.jpg">
      </a>
      <a class="column is-one-fifth">
        <img src="assets/img/app/mayicaifu.jpg">
      </a>
    </div>
  </div>

</div>
