@import "bulma";

@import "variables";

html{
  background: #f5f5f5;
}

body{
  background: #f5f5f5;
  min-height: 100vh;
}

input{
  border:none;
  outline: none;
}


a{
  color: $link-inactive-color;
  text-decoration: none;
}
a:hover{
  color: $text-active-color;
}

body{
  color: #3c3c3c;
  font-size: 14px;
}

.text-highlight{
  color: $text-active-color;
}

.text-small{
  font-size: 12px;
}
.text-large{
  font-size: 16px;
}
