<div class="container">
  <div class="columns">
    <div class="column is-narrow logo">
      <a class="logo">
        <img src="assets/img/logo.png">
      </a>
    </div>
    <div class="column">
      <div class="search">
        <div class="tab-set">
          <a href="#" class="tab text-small active">宝贝</a>
          <a href="#" class="tab text-small">天猫</a>
          <a href="#" class="tab text-small">店铺</a>
        </div>
        <div class="search-box-wrapper">
          <div class="search-box">
            <input>
          </div>
          <button class="search-button">搜索</button>
        </div>
        <div class="suggestions">
          <a class="text-small" href="#" *ngFor="let word of suggestionWords">{{word}}</a>
          <a class="text-small more" href="#">更多 <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="column is-narrow qrcode">
      <div class="qrcode-box">
        <span class="text-highlight text-small">手机淘宝</span>
        <img src="assets/img/qrcode.png">
      </div>
    </div>
  </div>
</div>
