<section>
  <div class="container">
    <div class="header">
      <a class="logo">
        <img src="assets/img/logo.png">
      </a>

      <div class="search">
        <div class="tab-set">
          <a href="#" class="tab text-small active">宝贝</a>
          <a href="#" class="tab text-small">天猫</a>
          <a href="#" class="tab text-small">店铺</a>
        </div>
        <div class="search-box-wrapper">
          <div class="search-box">
            <input>
          </div>
          <button class="search-button">搜索</button>
        </div>
        <div class="suggestions">
          <a class="text-small" href="#">新款连衣裙</a>
          <a class="text-small" href="#">四件套</a>
          <a class="text-small" href="#">潮流T恤</a>
          <a class="text-small" href="#">时尚女鞋</a>
          <a class="text-small" href="#">短裤</a>
          <a class="text-small" href="#">半身裙</a>
          <a class="text-small" href="#">男士外套</a>
          <a class="text-small" href="#">墙纸</a>
          <a class="text-small" href="#">行车记录仪</a>
          <a class="text-small" href="#">新款男鞋</a>
          <a class="text-small" href="#">耳机</a>
        </div>
      </div>

      <div class="qrcode">
        <div class="qrcode-box">
          <span class="text-highlight text-small">手机淘宝</span>
          <img src="assets/img/qrcode.png">
        </div>
      </div>
    </div>
  </div>
</section>
