@import "../../variables";

section{
  background: #FFFFFF;
}


div.column.is-narrow.logo, div.column.is-narrow.qrcode{
  width: 200px;
  position: relative;
}

div.column.logo{
  a{
    margin: 20px auto 0;
    display: block;
    width: 142px;
    height: 58px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}


div.search{
  width: 80%;
  margin: auto;
  padding: 10px 0;
  div.tab-set{
    position: relative;
    top: 0;
    left: 20px;
    a.tab{
      color: $text-active-color;
      display: inline-block;
      margin: 0;
      padding: 4px 6px;
    }
    a.tab:hover{
      background-color: #FFEEE5;
    }
    a.tab.active{
      background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
      color: #FFFFFF;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
  div.search-box-wrapper{
    height: 40px;
    display: flex;
    div.search-box{
      flex: auto;
      height: 100%;
      border: 2px solid #ff5000;
      border-right: none;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      box-sizing: border-box;
      overflow: hidden;
      input{
        height: 100%;
        width: 100%;
        padding: 0 10px;
      }
    }
    button.search-button{
      flex: none;
      font-size: 18px;
      font-weight: 700;
      color: #FFF;
      background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
      cursor: pointer;
      height: 100%;
      border: none;
      width: 70px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
    }
  }
  div.suggestions{
    position: relative;
    top: 10px;
    line-height: 1;
    a{
      //line-height: 18px;
      font-weight: 400;
      margin-right: 0.7em;
      vertical-align: top;
    }
    a.more{
      position: absolute;
      right: 0;
    }
  }
}
div.qrcode{
  position: absolute;
  right: 100px;
  top: 0;
  div.qrcode-box{
    display: inline-block;
    border: 1px solid #eee;
    padding: 7px;
    margin-left: 30px;
    span{
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 4px;
    }
    img{
      display: block;
      width: 62px;
      height: 62px;
    }
  }

}
